html
  head
    title Success
    link(href="style.css", rel="stylesheet", type="text/css")
  body
    #main
      h1 Success
      p.
        The installation successfully completed. We now have an access token
        for #[span.company #{companyName}].
      div.image
        img(src="success-fox.png")
