body {
  font-family: sans-serif;
}

#main {
  margin: 200px;
  width: 1000px;
}

.company {
  color: #4080ff;
  font-weight: bold;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

a {
  color: #4080ff;
  text-decoration: none;
}
